
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.addnewrole{
    color:
    rgba(0, 102, 164, 1);
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-size: 26px;
}
.role{
  color:  rgba(138, 138, 138, 1);
  font-size: 16px;
  font-weight: 500;
}
.back{
    background-color: 
    rgba(0, 102, 164, 1);
    height: 44px;
    width: 180px;
    border: none;
    border-radius: 14px;
    color: white;
    font-family: "Roboto", system-ui;
}
.right-body-ctnt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.addroleinput{
  width:100%;
  border-radius: 14px;
  height: 44px;
  color: rgba(207, 205, 205, 1);
  margin-top: 10px;
}


.rightbody-content{
    background-color:
    rgba(255, 255, 255, 1);
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    /* height:610px; */
}

/* dropdown */
.drop-down {
    position: relative !important;
    /* display: inline-block; */
    /* display: block; */

  }
  
  .drop-down-header {
    background-color:  rgba(255, 255, 255, 1);;
    color:black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border:2px solid 
    rgba(207, 205, 205, 1);
   border-top-left-radius: 14px;
   border-top-right-radius: 14px;
   width: 100%;
  }

  .container-body {
    overflow: visible; /* Ensure the dropdown doesn't get cut off */
}
  
  .dropdown-content {
    display: flex !important;
    flex-direction: column ;
    position :relative !important;
    /* top: 100%; */
    left: 0;
    z-index: 1000;
    width: 100%;
    border-radius: 0 0 14px 14px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px !important;
    margin-top: 5px; 
  }
.menuitem{
  margin-top: 20px;
}
 .drop-down-header{
    border-radius: none;
    font-family: "Roboto", system-ui;
    font-weight: 500;
  
}  




/* switches */
.form-switch {
    position: relative;
    display: inline-block;
  }

  .form-switch-input:before {
    content: "No";
    position: absolute;
    top: 50%;
    left:15px;
    transform: translateY(-50%);
    color: black;
    font-weight: 400;
    font-size: 8.64px;
    transition: content 0.4s, left 0.4s;
    color: rgba(38, 99, 172, 1);
  }

 

  .form-switch-input:checked:before {
    content: "Yes";
    position: absolute;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    color: black;
    font-weight: 400;
    font-size: 8.64px;
    transition: content 0.4s, left 0.4s;
    color: white;
    /* left: 35px; */
  }
.buttons{
    display: flex;
    margin-top: 50px;

}
.cancel-btn{
  height: 44px;
  width:180px;
  border-radius: 14px;
  border:1px solid rgba(0, 102, 164, 1);
  color: rgba(0, 102, 164, 1);
  background-color: rgba(255, 255, 255, 1); 
  font-family: "Roboto", system-ui;
  font-weight: 600;
}
.add-btn{
    height: 44px;
    width:180px;
    border-radius: 14px;
  border:1px solid rgba(0, 102, 164, 1);
  background-color: rgba(0, 102, 164, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto", system-ui;
  font-weight: 600;
  margin-left: 40px;
}
.role-name-input{
    height: 44px;
    border-radius: 14px;
}
.dropdown-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two dropdowns per row */
  gap: 20px; /* Adjust the gap between items as needed */
}

.user-switches{
  width: 45px !important;
  margin-right: 10px !important;
}



