.layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }
  
  .page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    position: relative;
    min-block-size: 100vh;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
  