.compmain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.emp-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.Compaddress tr {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}

.Compaddress input {
    width: 345px;
    height: 45px;
    border: 1px solid #b1abab;
}

.Companyname input {
    width: 345px;
    height: 45px;
    border: 1px solid #b1abab;
}

.OwnerName input {
    width: 345px;
    height: 45px;
    border: 1px solid #b1abab;
}

.CompType select {
    width: 345px;
    height: 45px;
    border: 1px solid #b1abab;
}

.compContactNum input {
    width: 345px;
    height: 45px;
    border: 1px solid #b1abab;
}

.compemail input {
    width: 345px;
    height: 45px;
    border: 1px solid #b1abab;
}

.compwebsite input {
    width: 345px;
    height: 45px;
    border: 1px solid #b1abab;
}

.compdesc textarea {
    width: 1225px;
    height: 70px;
    border: 1px solid #b1abab;
}

.compsubbutton {
    margin-top: 40px;
}

input:focus-visible {
    outline: #54f5a7;
    border: 1px solid #54f5a7;
}

textarea:focus-visible {
    outline: #54f5a7;
    border: 1px solid #54f5a7;
}

/* CustomDropdownTreeSelect.css */

.dropdown-container {
    position: relative;
  }
  
  .dropdown-header {
    border: 1px solid #cfcdcd;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  
  .dropdown-arrow {
    margin-left: 10px;
  }
  
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #b1abab;
    border-radius: 10px;
    max-height: 250px;
    z-index: 10;
    overflow: scroll;
  }
  
  .node {
    padding: 5px 10px;
  }
  
  .node-label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .node-label input {
    margin-right: 10px;
    transform: scale(1.5); /* Increase the size of the checkbox */
    -webkit-transform: scale(1.5); /* For Safari */
    transform-origin: 0 0; /* Align the scaling properly */
  }
  
  .expand-icon {
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
    font-size: 25px;
  }
  
  .selected-categories {
    margin-top: 20px;
    font-size: 14px;
  }
  

