@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.layout-wrapper {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
}

.page-content {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    position: relative;
  
}
hr{
    color: rgba(208, 213, 221, 1);
    border:1px solid rgba(208, 213, 221, 1)
}
.sidebar{
    /* box-shadow: 0px 5px 5px  rgb(230, 228, 228); */
    /* height: 120vh; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.page-content.login-page {
    width: 100%; /* Example style for login page */
    /* Add other styles specific to the login page */
  }
  
.logo{
    margin: 20px;
}
.left-container{
    border-radius: 40px;
    background-color: rgba(238, 246, 244, 1);
    padding:0px !important;

}
.container-body{
    height: 100%;
 
}
.menu{
    margin-top: 20px;
    /* line-height:70px; */
    }

.menu-heading{
    font-family:"Roboto", system-ui; 
    font-weight: 600;
    margin-left: 20px;
}
.menu li{
    list-style-type: none;
}
.menu li a {
    text-decoration: none;
    color:black;
    font-family:"Roboto", system-ui; 
    font-weight: 600;

}
.menu img{
    margin-right: 25px;
}

.menu-link{
    color:black;
    font-weight: 600;
    font-family:"Roboto", system-ui; 
    font-size: 15px;
    text-decoration: none;
}

.footer{
    margin-top: 50px;
    text-align: center;
}
.footer-heading{
    color: rgba(18, 18, 18, 1);
    font-family:"Roboto", system-ui;  
    font-weight: 500;
    font-size: 18px;
}
.rights{
    color:
    rgba(67, 67, 67, 1);
    font-weight: 400;
    font-family:"Roboto", system-ui;  
    font-size: 13px;

}
/* .sidenav-menuitem a{
    margin-top: 20px !important;
  } */
  .administraton-dropdown{
      margin-left: -9px;
  }
  .administration{
 border: none;
 background-color: transparent;
 font-family:"Roboto", system-ui; 
 font-weight: 600;

 
}
.active-dropdown{
    background-color:rgba(0, 138, 95, 1) ;
    border-top-right-radius:30px;
    border-top-left-radius: 30px;
    color: white;
    width:100%;
    height:55px;
    

}


.Administration-cnt{
    background-color: white;
    border: 2px solid rgba(210, 210, 210, 1);
    border-bottom-right-radius:30px;
    border-bottom-left-radius: 30px;
    /* line-height: 40px; */
    /* display: flex; */
    /* justify-content: space-between !important;  */
    /* align-items: center;  */
    flex-direction: column;
    /* padding: 20px; */
}



.sidenav-menuitem{
        cursor: pointer; 
        margin-top: 20px;
        transition: background-color 0.2s ease; 
}
.sidenav-menuitem:hover{
    /* background-color:   rgba(0, 138, 95, 1);  */
    background-color: rgba(0, 138, 95, 1);
    /* color:white ; */
    color: white;
    border-radius: 6px;
    /* height: 50px; */
    padding: 5px;
}






/* new */

.administration:hover {
    background-color: rgba(0, 138, 95, 1); /* Background color for the button on hover */
    color:white ;
    border-radius: 6px;
    height: 50px;
    /* padding: 10px; */
    width:100%;
   
}

.menu-item {
    display: flex;
    align-items: center;
  }


.administration-menu{
    /* margin-left: -40px; */
    padding: 0px !important;
}
.sidemenu-items{
    padding: 0px !important;
}

.active-menu {
    background-color: rgba(0, 138, 95, 1);
    color: white;
    border-radius: 6px;
    padding: 5px;
    /* height: 50px; */
   
  }


  .active-submenu{
    background-color: rgba(0, 138, 95, 1);
    color:white;
    border-radius: 6px;

    /* width:200px; */
  }

  .administration.active-dropdown:hover {
    background-color: rgba(0, 138, 95, 1);/* or specify a different background */
    border-top-right-radius:30px;
    border-top-left-radius: 30px;
    color: white;
    width:100%;
    height:55px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius: 0px;
    padding: 6px;
   
}

.administration-menu li {
    cursor: pointer; 
    margin: 5px 0; 
    padding: 8px 0px; 
    border-radius: 6px; 
    transition: background-color 0.2s ease; 
    display: flex;  
    /* align-items: center; */
    /* justify-content: center; */
 
}
/* .organization-icon{
 margin-left: 15px;
}
.permission-icon{
    margin-left: 15px; 
} */
  /* .administration-menu li{
    display: flex;
    align-items: center;
    padding: 8px 0px;
    margin: 5px 0; 
    transition: background-color 0.2s ease; 
    justify-content:center;
  } */
   .administration-icon{
    margin-left:50px;
   }
  .adminstration-label{
    margin-left: 26px;
  
  }

.administration-menu li:hover {
    background-color:  rgba(0, 138, 95, 1);
    color: white;
    border-radius: 6px;
    margin: 5px 0;
}

@media screen and (min-width: 1024px) {
    .fa-bars-icon {
      display: none !important;
    }
  }

 /* togle sidebar */

