

.layout-wrapper {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
}

.page-content {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    position: relative;
  
}

.page-content.login-page {
    width: 100%; /* Example style for login page */
    /* Add other styles specific to the login page */
  }
  
.logo{
    margin-left: 20px;
}
.left-container{
    border-radius: 40px;
    background-color: rgba(238, 246, 244, 1);
    padding:0px !important;
}
.container-body{
    height: 100%;
 
}
.menu{
    margin-top: 20px;
    /* line-height:70px; */
    
   
}

.menu-heading{
    font-family:"Roboto", system-ui; 
    font-weight: 600;
    margin-left: 20px;
}
.menu li{
    list-style-type: none;
}
.menu li a {
    text-decoration: none;
    color:black;
    font-family:"Roboto", system-ui; 
    font-weight: 600;

}
.menu img{
    margin-right: 25px;
}
.footer{
    margin-top: 50px;
    text-align: center;
}
.footer-heading{
    color: rgba(18, 18, 18, 1);
    font-family:"Roboto", system-ui;  
    font-weight: 500;
    font-size: 18px;
}
.rights{
    color:
    rgba(67, 67, 67, 1);
    font-weight: 400;
    font-family:"Roboto", system-ui;  
    font-size: 13px;

}
.sidenav-menuitem a{
    margin-top: 20px !important;
  }
  .administraton-dropdown{
      margin-left: -9px;
  }
  .administration{
 border: none;
 background-color: transparent;
 font-family:"Roboto", system-ui; 
 font-weight: 600;

 
}
.active-dropdown{
    background-color:rgba(0, 138, 95, 1) ;
    border-top-right-radius:30px;
    border-top-left-radius: 30px;
    color: white;
    width:100%;
    height:55px;
    

}


.Administration-cnt{
    background-color: white;
    border: 2px solid rgba(210, 210, 210, 1);
    border-bottom-right-radius:30px;
    border-bottom-left-radius: 30px;
    line-height: 40px;
    display: flex;
    justify-content: center; /* Centers the content of the dropdown */
    align-items: center; /* Ensures vertical alignment of items */
    flex-direction: column;
    padding: 10px;
}

.administration-menu li {
   
    cursor: pointer; /* Makes it clear that the items are clickable */
    /* transition: background-color 0.2s ease;  */
    
  }


.sidenav-menuitem{
   
  
        cursor: pointer; 
        margin-top: 20px;
        /* transition: background-color 0.2s ease;  */
}
.sidenav-menuitem:hover{
    background-color:   rgba(0, 138, 95, 1); 
    color:white ;
    border-radius: 6px;
    height: 50px;
    padding: 10px;
}



.sidenav-menuitem:hover .menu-link {
    color: white; 

  
  
}
/* new */

.administration:hover {
    background-color: rgba(0, 138, 95, 1); /* Background color for the button on hover */
    color: white ;
    border-radius: 6px;
    height: 50px;
    padding: 10px;
    width:100%;
   
}



/* Dropdown menu items hover effect */
.administration-menu li:hover {
    background-color: rgba(0, 138, 95, 1);
    color:white;
    border-radius: 6px;
    padding: 5px;
    width:200px;
    
}
.administration-menu{
    margin-left: -40px;
}
.sidemenu-items{
    margin-left: -12px;
}

.active-menu {
    background-color: rgba(0, 138, 95, 1);
    color: white;
    border-radius: 6px;
    padding: 10px;
    height: 50px;
   
  }
  .sidemenu-items .sidenav-menuitem.active-menu .menu-link {
    color: white !important;
}

  .active-submenu{
    background-color: rgba(0, 138, 95, 1);
    background-color: rgba(0, 138, 95, 1);
    color:white;
    border-radius: 6px;
    padding: 5px;
    width:200px;
  }
  .font-icon{
    margin-right: 60px;
  }
  .administration.active-dropdown:hover {
    background-color: rgba(0, 138, 95, 1);/* or specify a different background */
    border-top-right-radius:30px;
    border-top-left-radius: 30px;
    color: white;
    width:100%;
    height:55px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius: 0px;
    padding: 6px;
   
}


   




  