.top-navbar{
    background-color: rgba(0, 102, 164, 0.14);
    /* border-radius: 40px; */
    /* border-top-left-radius: 40px; */
    /* border-top-right-radius: 40px; */
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.icons{
    display: flex;
    align-items: center;
    /* margin: 40px; */
    margin-right: -35px;
}
.right-icons{
   margin: 30px;
}
.nav-icons {
    height: 40px;
    width: 40px;
    background-color: 
    rgba(0, 138, 95, 1);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-right: 25px;  
    
}
.userimg{
     margin-right: 10px;
}
.user-name{
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-size: 24px;
    color: rgba(18, 18, 18, 1);
}
.admin{
    color: rgba(67, 67, 67, 1);
    font-size: 17px;
    font-weight: 400;
}
.local-language{

   margin-right: 15px;
}
.local-dropdown{
    
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        font-size: 14px;
        color: #333;
        outline: none;
        transition: border-color 0.3s ease-in-out;
     
}
.local-dropdown-label{
  margin-right: 6px;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-size: 16px;
}
.page-name{
  margin-left:15px;
  font-family: "Roboto", system-ui;
  font-weight: 600;
  font-size: 25px;
  color:rgba(0, 138, 95, 1);
  ;
}

.admin-dropdown-menu {
    background-color: #ffffff; /* Background color of the dropdown */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding around items */
    z-index: 1000; /* Ensure the dropdown appears on top */
  }

  .admin-dropdown-item {
    font-family: "Roboto", system-ui !important;
    font-weight: 500;
    padding: 10px 15px; /*Space inside each item */
    cursor: pointer; /* Show pointer on hover */
    font-size: 14px; /* Font size */
    transition: background-color 0.2s ease; /* Smooth transition */
  }
  .dropdown-item:hover {
    background-color: rgba(0, 138, 95, 1);/* Change background color on hover */
    color: white; /* Text color on hover */
  }

  .bars-icon{
    font-size: 38px;
    margin: 15px;
    background: none !important;
  }


  @media screen and (max-width:320px)
  {
    .top-navbar{
      background-color: rgba(0, 102, 164, 0.14);
      /* border-radius: 40px; */
      /* border-top-left-radius: 40px; */
      /* border-top-right-radius: 40px; */
      height: 90px;
      width: 150vh;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }
  }
  /* @media screen and (max-width:1024px) {
    .bars-icon {
      display: none !important;
    }
  } */

  @media screen and (max-width:320px)
  {
    .local-language{
      display: block;
    }
    .top-navbar{
      width:100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      
    }
  
  
   
  }
  @media only screen and (min-width: 320px) and (max-width: 980px) {
      .local-language{
        margin-left: 10px;
      }
  }




  
 
  

    
