.top-navbar{
    background-color: rgba(0, 102, 164, 0.14);
    /* border-radius: 40px; */
    /* border-top-left-radius: 40px; */
    /* border-top-right-radius: 40px; */
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.icons{
    display: flex;
    align-items: center;
    /* margin: 40px; */
    margin-right: -35px;
}
.right-icons{
   margin: 30px;
}
.nav-icons {
    height: 40px;
    width: 40px;
    background-color: 
    rgba(0, 138, 95, 1);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-right: 25px;  
    
}
.userimg{
     margin-right: 10px;
}
.user-name{
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-size: 24px;
    color: rgba(18, 18, 18, 1);
}
.admin{
    color: rgba(67, 67, 67, 1);
    font-size: 17px;
    font-weight: 400;
}
.local-language{

   margin-right: 15px;
}
    
