.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
 
.header-title {
  font-size: 26px;
  font-weight: 700;
  color:
  rgba(0, 102, 164, 1); 
  font-family: "Roboto", system-ui;



}
 
.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
 
.search-box {
  position: relative;
}
 
.search-input {
  padding: 8px 35px 8px 10px;
  border: 1px solid rgba(204, 232, 223, 1);
  border-radius: 14px;
  font-size: 14px;
  outline: none;
  width:258px;
  height:44px;
}
.search-input::placeholder {
  font-family: "Roboto", system-ui;
  padding-left: 30px;
}

 
.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #5f6368;
}
 
.sort-dropdown {
  padding: 8px 10px;
  border-radius: 14px;
  font-weight: 400px;
  font-size: 15px;
  width: 128px;
  height: 44px;
  font-family: "Roboto", system-ui;
  border: 1px solid rgba(204, 232, 223, 1);
 
}
 
.add-role-btn {
  width:180px;
  height:44px;
  border-radius: 14px;
  border: none;
  background-color: rgba(0, 102, 164, 1);
  cursor: pointer;
  color:
  rgba(255, 255, 255, 1);
  font-family: "Roboto", system-ui;
  font-weight: 600;
}
 
.add-role-btn:hover {
  background-color: #0056b3;
}
